<header>
    <div>Codeial</div>
    <div class="links">
        <% if(locals.user){ %>
        <a href="/users/profile"><%= user.name %></a>    
        <a href="/users/sign-out">&nbsp; &nbsp; Sign Out</a>
        <% }else{ %>
        <a href="/users/sign-in">Sign in</a>
        <a href="/users/sign-up">&nbsp; &nbsp; Sign up</a>
        <% } %>
    </div>
</header>